{% extends "template.html" %}

{% block navbar_btns %}

    <!-- Show the default groups -->
    <li>
        <div class="btn-group btn-group-sm navbar-btn">
            <button class="btn btn-primary" id="groups" type="button">OP</button>
            <button class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </li>
    <li>
        <div class="btn-group  btn-group-sm navbar-btn">
            <button class="btn btn-primary" id="groups" type="button">MX2</button>
            <button class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </li>
    <li>
        <div class="btn-group btn-group-sm navbar-btn">
            <button class="btn btn-primary" id="groups" type="button">SWAX</button>
            <button class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </li>
    <li>
        <div class="btn-group btn-group-sm navbar-btn">
            <button class="btn btn-primary" id="groups" type="button">PD</button>
            <button class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </li>


    <li>

        <div class="navbar-btn">
            <button class="btn btn-default btn-sm" type="button" data-toggle="popover-x" data-target="#group-select-modal" data-placement="bottom bottom-left">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>


    </li>

{% endblock %}


{% block navbar_search %}
    <li>
        <form role="search" class="navbar-form navbar-right">
            <!-- <div class="form-group"> -->

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." aria-label="...">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Advanced Search</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

   <!--         </div> -->
        </form>
    </li>
{% endblock %}


{% block main_display %}

<!-- main page elements -->


<div class="container-fluid">
    <nav>
        <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>Older</a></li>
            <li class="next disabled"><a href="#">Newer<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>


    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">2015/06/28</a>

                </div>
                <div class="panel-body">
                    <div class="row col-padding">
                        <div class="panel panel-default" >
                            <div class="panel-body" >
                                02:32<br>
                                Cameron Rodda<br>
                                Title:<br>
                                Summary:<br>
                                Images... etc.
                            </div>
                        </div>
                    </div>
                    <div class="row col-padding">
                        <div class="panel panel-default" >
                            <div class="panel-body" >
                                03:32<br>
                                Cameron Rodda<br>
                                Title:<br>
                                Summary:<br>
                                Images... etc.
                            </div>
                        </div>
                    </div>
                    <div class="row col-padding">
                        <div class="panel panel-default" >
                            <div class="panel-body" >
                                06:32<br>
                                Cameron Rodda is the best chuck out the rest<br>
                                Title:<br>
                                Summary:<br>
                                Images... etc.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"><a href="#">Add Entry</a></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">2015/06/29</a>

                </div>
                <div class="panel-body">
                    Body Content
                </div>
                <div class="panel-footer"><a href="#">Add Entry</a></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">2015/06/29</a>

                </div>
                <div class="panel-body">
                    Body Content
                </div>
                <div class="panel-footer"><a href="#">Add Entry</a></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">2015/06/29</a>

                </div>
                <div class="panel-body">
                    Body Content
                </div>
                <div class="panel-footer"><a href="#">Add Entry</a></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">Navigation</a>

                </div>
                <div class="panel-body">
                    <div id="date-navigation"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">Create new page entry</a>

                </div>
                <div class="panel-body">
                    <form role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Title for new entry..." aria-label="...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon glyphicon-new-window"></span>
                                </button>
                            </span>
                        </div>

                        <select class="form-control">
                            <option>New Fault</option>
                            <option>New BLEntry</option>
                            <option selected>New Entry</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <a href="#">Pint to Top</a>

                </div>
                <div class="panel-body">
                    Body Content
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <a href="#">Pint to Top #2</a>

                </div>
                <div class="panel-body">
                    Pinned Body Content
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}