{% extends "slog_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main_display %}

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-primary options-panel">
                <div class="panel-heading">
                    <h5>Site User Options</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="center-block" src="/avatar.png?name=cameron&size=128"><br>
                            <table class="table">
                                <tr>
                                    <td>Username:</td>
                                    <td>Cameron Rodda</td>
                                </tr>
                                <tr>
                                    <td>User ID:</td>
                                    <td>10</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8">
                            {{ wtf.quick_form(form) }}
                            <label for="colorselector_options">Avatar Colour:</label>
                            <select id="colorselector_options">
                                <option value="106" data-color="#A0522D">sienna</option>
                                <option value="47" data-color="#CD5C5C" selected="selected">indianred</option>
                                <option value="87" data-color="#FF4500">orangered</option>
                                <option value="17" data-color="#008B8B">darkcyan</option>
                                <option value="18" data-color="#B8860B">darkgoldenrod</option>
                                <option value="68" data-color="#32CD32">limegreen</option>
                                <option value="42" data-color="#FFD700">gold</option>
                                <option value="77" data-color="#48D1CC">mediumturquoise</option>
                                <option value="107" data-color="#87CEEB">skyblue</option>
                                <option value="46" data-color="#FF69B4">hotpink</option>
                                <option value="47" data-color="#CD5C5C">indianred</option>
                                <option value="64" data-color="#87CEFA">lightskyblue</option>
                                <option value="13" data-color="#6495ED">cornflowerblue</option>
                                <option value="15" data-color="#DC143C">crimson</option>
                                <option value="24" data-color="#FF8C00">darkorange</option>
                                <option value="78" data-color="#C71585">mediumvioletred</option>
                                <option value="123" data-color="#000000">black</option>
                            </select>
                            <!--
                            <table class="table">
                                <tr>
                                    <td>User ID:</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Username:</td>
                                    <td>Cameron Rodda</td>
                                </tr>
                                <tr>
                                    <td>Nickname:</td>
                                    <td>Cam</td>
                                </tr>
                                <tr>
                                    <td>Default Group:</td>
                                    <td>Operations</td>
                                </tr>
                                <tr>
                                    <td>View Groups:</td>
                                    <td>List>Operations</td>
                                </tr>
                                <tr>
                                    <td>Entried per Page:</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td>Colour:</td>
                                    <td>Blue</td>
                                </tr>
                            </table> -->
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <button type="submit" class="btn btn-default pull-right">Save Changes</button>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#colorselector_options').colorselector();
    </script>
{% endblock scripts %}